{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Alexandria - Django Demo App{% endblock %}</title>

  <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous">

  <link rel="stylesheet" href="/static/css/site.css"/>

  {% block extra_head %}{% endblock %}
  {% block extra_script %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img class="logo-img" src="{% static 'logo.png' %}"> Alexandria 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#main_nav_bar" aria-controls="main_nav_bar"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main_nav_bar">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
        <span class="navbar-text">
          Hello {{user.username}}!
          {% if user.is_staff %} (Staff){% endif %}
        </span>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" 
            href="#" role="button" aria-haspopup="true" aria-expanded="false"
              >Actions</a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"
                href="/people/profile/{{user.id}}/">My Profile</a>
            {% if user.is_staff %}
              <a class="dropdown-item" href="/admin/">Admin Area</a>
            {% endif %}
            <a class="dropdown-item"
                href="/accounts/password_change/">Change Password</a>
            <a class="dropdown-item"
                href="/accounts/logout/">Logout</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item info-text">
          <a class="text-white" href="/accounts/login/">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>  

</nav>

{% block container %}
  <main role="main" class="container">

    {% block content %}
    {% endblock content %}
  </main>
{% endblock container %}

<footer>
  <div class="copyright">
    This is a demo site built during a course.<br>
    Copyright &copy; <a href="https://training.talkpython.fm" 
      target="_blank">Talk Python Training</a>.
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
  crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
  crossorigin="anonymous">
</script>

{% block body_script %}{% endblock %}

</body>
</html>
