{% extends "base.html" %}

{% block content %}
<div class="self-contained container" style="max-width: 576px">
<div class="align-self-center">

  {% if validlink %}
    <div class="alert alert-primary">Enter your new password twice to ensure
      you typed it correctly.
    </div>

    <form method="post" novalidate>
      {% csrf_token %}

      <div class="form-group">
        <label for="id_new_password1">{{ form.new_password1.label_tag }}</label>
        <input id="id_new_password1" name="new_password1" required=""
          type="password" 
    class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}"
          {% if form.new_password1.value %}
            value="{{ form.new_password1.value }}" {% endif %}
          {% if form.new_password1.help_text %}
            aria-describedby="new_password1Help"
          {% endif %}>
        {% if form.new_password1.help_text %}
          <small id="new_password1Help" class="form-text text-muted">
            {{ form.new_password1.help_text|safe }}
          </small>
        {% endif %}
        {% if form.new_password1.errors %}
          <div class="invalid-feedback">
            {{ form.new_password1.errors }}
          </div>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="id_new_password2">{{ form.new_password2.label_tag }}</label>
        <input id="id_new_password2" name="new_password2" required=""
          type="password" 
    class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
          {% if form.new_password2.value %}
            value="{{ form.new_password2.value }}" {% endif %}
          {% if form.new_password2.help_text %}
            aria-describedby="new_password2Help"
          {% endif %}>
        {% if form.new_password2.help_text %}
          <small id="new_password2Help" class="form-text text-muted">
            {{ form.new_password2.help_text|safe }}
          </small>
        {% endif %}
        {% if form.new_password2.errors %}
          <div class="invalid-feedback">
            {{ form.new_password2.errors }}
          </div>
        {% endif %}
      </div>

      <button type="submit" class="btn btn-primary">Change password</button>
    </form>

  {% else %} 
    <div class="alert alert-danger">The password reset link was invalid,
      possibly because it has already been used.  Please request a new password
      reset.
    </div>

  {% endif %}

</div>
</div>
{% endblock content %}
