{% extends "base.html" %}

{% block content %}
<div class="self-contained container" style="max-width: 576px">
<div class="align-self-center">

  <div class="alert alert-primary">
    Forgotten your password? Enter your email address below, and we'll email
    instructions for setting a new one.

  </div>

  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_email">{{ form.email.label_tag }}</label>
      <input id="id_email" name="email" autofocus="" required="" type="email" 
        placeholder="Enter email" 
        class="form-control {% if form.email.errors %} is-invalid {% endif %}" 
        {% if form.email.value %}
          value="{{ form.email.value }}" {% endif %}>
      {% if form.old_password.errors %}
        <div class="invalid-feedback">
          {{ form.email.errors }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>

</div>
</div>
{% endblock content %}
