{% extends "base.html" %}
{% block title %}Alexandria - Upload {{author.last_name}} Photo{% endblock %}

{% block content %}
<h2>Upload Photo for {{author.last_name}}</h2>

{% if form.errors %}
  <div class="alert alert-danger">Correct any errors before continuing.</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="form-group">
    <label for="id_author_photo">Choose File</label>
    <input type="file" class="form-control-file" name="author_photo" 
      id="id_author_photo">
  </div>

  <button class="btn btn-dark" type="submit">Save</button>
</form>

{% endblock content %}
