{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <div class="alert alert-danger">Correct any errors before continuing.</div>
  {% else %}
    <div class="alert alert-primary">Enter your old password for verification,
      then enter a new password twice to ensure you typed it correctly.
    </div>
  {% endif %}

  <form method="post" novalidate>
    {% csrf_token %}

    <div class="form-group">
      <label for="id_old_password">{{ form.old_password.label_tag }}</label>
      <input id="id_old_password" name="old_password" required=""
        type="password" 
  class="form-control {% if form.old_password.errors %} is-invalid {% endif %}" 
        {% if form.old_password.value %}
          value="{{ form.old_password.value }}" {% endif %}>

        {% if form.old_password.errors %}
          <div class="invalid-feedback">
            {{ form.old_password.errors }}
          </div>
        {% endif %}
    </div>
    <div class="form-group">
      <label for="id_new_password1">{{ form.new_password1.label_tag }}</label>
      <input id="id_new_password1" name="new_password1" required=""
        type="password" 
  class="form-control {% if form.new_password1.errors %}is-invalid{% endif %}" 
        {% if form.new_password1.value %}
          value="{{ form.new_password1.value }}" {% endif %}
        {% if form.new_password1.help_text %}
          aria-describedby="new_password1Help"
        {% endif %}>
      {% if form.new_password1.help_text %}
        <small id="new_password1Help" class="form-text text-muted">
          {{ form.new_password1.help_text|safe }}
        </small>
      {% endif %}
      {% if form.new_password1.errors %}
        <div class="invalid-feedback">
          {{ form.new_password1.errors }}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="id_new_password2">{{ form.new_password2.label_tag }}</label>
      <input id="id_new_password2" name="new_password2" required=""
        type="password" 
  class="form-control {% if form.new_password2.errors %}is-invalid{% endif %}" 
        {% if form.new_password2.value %}
          value="{{ form.new_password2.value }}" {% endif %}
        {% if form.new_password2.help_text %}
          aria-describedby="new_password2Help"
        {% endif %}>
      {% if form.new_password2.help_text %}
        <small id="new_password2Help" class="form-text text-muted">
          {{ form.new_password2.help_text|safe }}
        </small>
      {% endif %}
      {% if form.new_password2.errors %}
        <div class="invalid-feedback">
          {{ form.new_password2.errors }}
        </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">Change password</button>
  </form>

{% endblock content %}
